# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CSC3231-Graphics-For-Games.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\manta\OneDrive\Documents\GitHub\CSC3231-Graphics-For-Games\.idea\.idea.CSC3231-Graphics-For-Games.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
