# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CSC3231-Graphics-For-Games.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\manta\OneDrive\Desktop\New folder\CSC3231-Graphics-For-Games\.idea\.idea.CSC3231-Graphics-For-Games\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
